

<header class="header_area">
        <div class="top_menu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="float-left">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> +9987322395</p>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> SG FASHION</p>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Daily 10.00 - 22:00</p>
                            <p>{{isUserLogger}}</p>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="float-right">
                            <ul class="right_side">
                                <li>
                                    <a href="cart.html">
                                        News
                                    </a>
                                </li>
                                <li>
                                    <a href="tracking.html">
                                        FAQ
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Payment
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="main_menu">
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
                    
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html">
            <img class="imgWebSitelogo" src="../assets/img/SGFashion.jpg" alt=""/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
                    </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                        <!-- Full width nav bar-->
                        <div class="col-lg-7 pr-1 ">
                            <ul class="nav navbar-nav center_nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Categories</a>
                                    <!-- Dropdown menu -->
                                    <div class="dropdown-menu custom-menu-ht" aria-labelledby="navbarDropdown">
                                        <ul>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Boys</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(2)">Top Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(3)">Bottom Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(4)">Night Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(5)">Sports Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(6)">Winter Wear</a></li>
                                        </ul>
                                        <ul>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(7)">Girls</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(8)">Top Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(9)">Bottom Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(10)">Night Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(11)">Sports Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(12)">Winter Wear</a></li>
                                        </ul>
                                        <ul>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(13)">Men&lsquo;s Garments</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(14)">Top Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(15)">Bottom Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(16)">Night Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(17)">Sports Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(18)">Winter Wear</a></li>
                                        </ul>
                                        <ul>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Women&lsquo;s Ethenic</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Top Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Bottom Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Night Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Sports Wear</a></li>
                                            <li class="mega-nav"><a class="dropdown-item" (click)="goToCategory(1)">Winter Wear</a></li>
                                        </ul>
                                    </div>
                                    <!-- Dropdown menu -->
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">Shop</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="category.html">Shop Category</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="single-product.html">Product Details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="checkout.html">Product Checkout</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="cart.html">Shopping Cart</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">Blog</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="blog.html">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="single-blog.html">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item ">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">Pages</a>
                                </li>
                            </ul>
                        </div>
            <div class="row w-100 mr-0">
                            <!-- Search bar -->
              <div class="col-lg-7 pr-0">
                <div class="input-group-icon" style="margin-top:20px">
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" [(ngModel)]="txtSearch" (keyup)="searchChange(txtSearch)" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="button"  (click)="searchClick(txtSearch)"><i class="fa fa-search"></i></button>
                    </div>
                </div>
              </div>
              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                    <!-- <li class="nav-item submenu dropdown">
                        <a href="#" class="icons">
                            <i class="ti-home" aria-hidden="true"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                                <a class="nav-link" href="category.html"><i class="ti-server"></i> Listings</a>
                            </li>
                            <li class="nav-item">
                                                <a class="nav-link" href="single-product.html"><i class="ti-face-smile"></i> Brands</a>
                            </li>
                            <li class="nav-item">
                                                <a class="nav-link" href="checkout.html"><i class="ti-layout-grid3-alt"></i> Discount</a>
                            </li>
                        </ul>
                    </li> -->
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="icons">
                          <i class="ti-user" aria-hidden="true"></i>
                          </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                                <a class="nav-link" href="category.html"><i class="ti-align-justify"></i> Orders</a>
                                </li>
                                <li class="nav-item">
                                                <a class="nav-link" href="single-product.html"><i class="ti-user"></i> Account</a>
                                </li>
                                <!-- <li class="nav-item">
                                                <a class="nav-link" href="checkout.html"><i class="ti-settings"></i> Setting</a>
                                </li> -->
                                <li class="nav-item">
                                                <a class="nav-link" href="cart.html"><i class="ti-time"></i> Log Out</a>
                                </li>
                            </ul>
                    </li>
                    <li class="nav-item">
                        <a (click)="goToCart()" class="icons">
                            <i class="ti-shopping-cart"></i>
                            <span class='badge badge-warning' id='lblCartCount'>{{cartCount}} </span>
                        </a>
                    </li>

                </ul>
              </div>
             </div>
           </div>
       </nav>
      </div>
    </div>
  </header>