<section class="feature-area section_gap_bottom_custom  text-center">
<div class="container">
    <div class="row">
        <div  *ngFor="let category of homeCategory"  class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;" (click)="goToCategory(1)">
                <img class="card-img-top" [src]="category.imageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{category.name}}</h5>
                    <p class="card-text">{{category.priceRange}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>