<section class="feature-area section_gap_bottom_custom  text-center">
<div class="container">
    <div class="row">
        <!-- category bucket -->
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/boys.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Boys</h5>
                    <p class="card-text">from rs 180.</p>
                     <!--a href="#" class="btn btn-primary">click</a-->
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/girls.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Girls</h5>
                    <p class="card-text">from rs 180.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/mens.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mens Garnments</h5>
                    <p class="card-text">from rs 180.</p>
                     
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/Ethenic.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Womens Ethenic</h5>
                    <p class="card-text">from rs 180.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/innerwear.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Innerwear</h5>
                    <p class="card-text">from rs 180.</p>
                      
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="../assets/img/category/fashion.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fashion Accessories</h5>
                    <p class="card-text">from rs 180.</p>
                     
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="">
            <div id="summary">
                <div class="collapse" id="collapseSummary">
                    <section class="feature-area section_gap_bottom_custom">
                        <!-- Category container -->
                        <div class="container">
                            <div class="row">
                                <!-- category bucket -->
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/boys.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Boys</h5>
                                            <p class="card-text">from rs 180.</p>
                                            <!--a href="#" class="btn btn-primary">click</a-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/girls.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Girls</h5>
                                            <p class="card-text">from rs 180.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/mens.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Mens Garnments</h5>
                                            <p class="card-text">from rs 180.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/Ethenic.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Womens Ethenic</h5>
                                            <p class="card-text">from rs 180.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/innerwear.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Innerwear</h5>
                                            <p class="card-text">from rs 180.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-4 col">
                                    <div class="card" style="width: 100%;">
                                        <img class="card-img-top" src="../assets/img/category/fashion.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">Fashion Accessories</h5>
                                            <p class="card-text">from rs 180.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <h4><a class="collapsed link-info" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a></h4>
            </div>
        </div>
    </div>
</div>
</section>