{{cart | json}}
    
    <!--================Header Menu Area =================-->
    <!--================Home Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Cart</h2>
                        <p>Very us move be blessed multiply night</p>
                    </div>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="cart.html">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- product -->
                            <ng-container *ngIf="!isUserLoggedIn">
                                <tr *ngFor="let cart of tempCart">
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img width="80" [src]="cart.product?.productImage" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <p>{{cart.product?.name}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>&#8377;{{cart.product?.price}}</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="cart.quantity">
                                                <option value="1" selected>1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>{{ (cart.product && cart.product.price && cart.quantity ? cart.product.price * cart.quantity : 0) }}</h5>

                                    </td>
                                </tr>
                            </ng-container>
                            <ng-container *ngIf="isUserLoggedIn">
                                <ng-container *ngIf="cart">
                                    <tr *ngFor="let cart of cart.cartDetails">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img width="80" [src]="cart.productImage" alt="" />
                                                </div>
                                                <div class="media-body">
                                                    <p>{{cart.productName}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>&#8377;{{cart.finalPrice}}</h5>
                                        </td>
                                        <td>
                                            <div class="product_count">
                                                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                    <option value="1" selected>1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>{{ cart.price }}</h5>

                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <!-- product -->

                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                <td>
                                    <h5>{{ calculateSubtotal() }}</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner">
                                        <a class="gray_btn" href="#">Continue Shopping</a>
                                        <a class="main_btn" (click)="proceedCheckout()">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    <!--================ start footer Area  =================-->

    
