<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
</head>
<body>
  <!--================Header Menu Area =================-->
 <app-menubar></app-menubar>
  <!--================Header Menu Area =================-->
<div >
    <main role="main">
      <router-outlet></router-outlet>
    </main>
</div>
  
  <!--================ start footer Area  =================-->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 single-footer-widget">
          <h4>SG FASHION</h4>
          <p>Our company engaged in business of cothing mankind base in mumbai with company name SG Fashion establish in 2017.</p>
        </div>
        <div class="col-lg-3 col-md-6 single-footer-widget ">
          <ul>
            <li class="split-li"><a href="#">Catalog</a></li>
            <li class="split-li"><a href="#">Brands</a></li>
            <li class="split-li"><a href="#">Delivery</a></li>
            <li class="split-li"><a href="#">FAQ</a></li>
            <li class="split-li"><a href="#">Payment</a></li>
            <li class="split-li"><a href="#">About</a></li>
            <li class="split-li"><a href="#">Contacts</a></li>
            <li class="split-li"><a href="#">News</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 single-footer-widget">
          <ul>
            <li><a href="#"><i style="margin-right:5px;" class="fa fa-phone"></i> 99873 22395</a></li>
            <li><a href="#"><i style="margin-right:5px;" class="fa fa-envelope-o"></i> sanjay453@gmail.com</a></li>
            <li><a href="#"><i style="margin-right:5px;" class="fa fa-map-marker" style="font-size:24px"></i> G no.14 sethwadi east ndia turner compound, Dharavi main road murgan chawl, near Abudiya bank Maharashtra, Mumbai, 400017</a></li>
            <li><i style="margin-right:5px;" class="fa fa-clock-o"></i> Daily 10.00 - 22.00</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 single-footer-widget">
          <p>Subscribe for updates</p>
          <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action=""
              method="get" class="form-inline">
              <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Your Email Address '" required="" type="email">
              <button class=" btn click-btn"><i class="fa fa-envelope-o"></i></button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center">
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        
      </div>
    </div>
  </footer>
  <!--================ End footer Area  =================-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  
</body>
</html>



