<div class="left_sidebar_area">
    <aside class="left_widgets p_filter_widgets">
        <div class="l_w_title">
            <h3>Browse Categories</h3>
        </div>
        <div class="widgets_inner" *ngIf="category && category.length > 0">
            <ul class="list">
                <li *ngFor="let item of category">
                    <label>
                        <input type="checkbox" [(ngModel)]="item.checked" (change)="onCategoryChanged()" >
                        {{ item.name }}
                    </label>
                </li>
            </ul>
        </div>
        <div *ngIf="!category || category.length === 0">
            No categories found.
        </div>
    </aside>

    <aside class="left_widgets p_filter_widgets">
        <div class="l_w_title">
            <h3>Product Brand</h3>
        </div>
        <div class="widgets_inner" *ngIf="brand && brand.length > 0">
            <ul class="list">
                <li *ngFor="let item of brand">
                    <label>
                        <input type="checkbox" [(ngModel)]="item.checked"  (change)="onBrandChanged()" >
                        {{ item.name }}
                    </label>
                </li>    
            </ul>
        </div>
        <div *ngIf="!brand || brand.length === 0">
            No Brand found.
        </div>
    </aside>
    

    <aside class="left_widgets p_filter_widgets">
        <div class="l_w_title">
            <h3>Price Filter</h3>
        </div>
        <div class="widgets_inner">
            <div class="range_item">
                <div id="slider-range"></div>
                <div class="">
                    <label for="amount">Price : </label>
                    <input type="text" id="amount" readonly />
                </div>
            </div>
        </div>
    </aside>
</div>