<section class="feature_product_area section_gap_bottom_custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="main_title">
                    <h2><span>Trending Items</span></h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div  *ngFor="let product of trendingProducts; let i = index"  class="col-lg-3 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img class="img-fluid w-100" (click)="gotoProduct(product.productId)" [src]="product.productImage" alt="" />
                        <div class="p_icon">
                            <a (click)="gotoProduct(product.productId)">
                                <i class="ti-eye"></i>
                            </a>
                            <a href="#">
                                <i class="ti-heart"></i>
                            </a>
                            <a href="#">
                                <i class="ti-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-btm">
                        <a href="#" class="d-block">
                            <h4>{{product.name}}</h4>
                        </a>
                        <div class="mt-3">
                            <span class="mr-4">&#8377;{{product.discount}}</span>
                            <del>&#8377; {{product.price}}</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>