

    <!--================Single Product Area =================-->
    <div class="product_image_area">
        <div class="container">
          <div class="row s_product_inner">
            <div class="col-lg-6">
              <div class="s_product_img">
                <div
                  id="carouselExampleIndicators"
                  class="carousel slide"
                  data-ride="carousel"
                >

                <ol class="carousel-indicators">
                  <li *ngFor="let product of product?.productImages; let i = index"
                    [attr.data-target]="'#carouselExampleIndicators'"
                    [attr.data-slide-to]="i"
                    [ngClass]="{'active': i === 0}">
                    <img width="60" [src]="product.url" alt="">
                  </li>
                </ol> 
                  <div class="carousel-inner">
                    <div class="carousel-item" *ngFor="let product of product?.productImages; let i = index" [ngClass]="{'active': i === 0}">
                      <img class="d-block w-100" [src]="product.url" [alt]="'Slide ' + (i + 1)">
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="s_product_text">
                <h3>{{product?.name}}</h3>
                <h2>&#8377;{{product?.price}}</h2>
                <ul class="list">
                  <li>
                    <a class="active" href="#">
                      <span>Category</span> : {{product?.category}}</a
                    >
                  </li>
                  <li>
                    <a href="#">
                      <span>{{ product?.availability ? 'In Stock' : 'Out of Stock' }}</span>
                    </a>
                  </li>
                </ul>
                <p>
                  {{product?.description}}
                </p>
                <div class="product_count">
                  <label for="qty">Quantity:</label>
                  <input
                    type="text"
                    name="qty"
                    id="sst"
                    maxlength="12"
                    value="1"
                    title="Quantity:"
                    class="input-text qty"
                  />
                  <button
                    
                    class="increase items-count"
                    type="button"
                  >
                    <i class="lnr lnr-chevron-up"></i>
                  </button>
                  <button 
                    
                    class="reduced items-count"
                    type="button"
                  >
                    <i class="lnr lnr-chevron-down"></i>
                  </button>
                </div>
                <div class="card_area">
                  <a class="main_btn" href="#">Add to Cart</a>
                  <a class="icon_btn" href="#">
                    <i class="lnr lnr lnr-diamond"></i>
                  </a>
                  <a class="icon_btn" href="#">
                    <i class="lnr lnr lnr-heart"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--================End Single Product Area =================-->
  
      <!--================Product Description Area =================-->
      <section class="product_description_area">
        <div class="container">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Description</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Specification</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div 
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <p>
                {{product?.description}}
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
            {{product?.specification}}
            </div>
           
            
          </div>
        </div>
      </section>
      <!--================End Product Description Area =================-->